{% load bootstrap4 %}
{% load static tailwind_tags %}
{% bootstrap_javascript jquery='full' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% bootstrap_css %}
  {% tailwind_css %}
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <title>Title</title>
</head>

<body class="d-flex flex-column min-vh-100">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <ul class="t-flex t-list-none t-p-0 t-m-0 t-items-center t-gap-2 t-justify-between t-w-full">
      <li class="">
        <a class="t-text-white hover:t-text-gray-200" href=" {% url 'main_page' %}">Web Anki</a>
      </li>
      {% if user.is_authenticated %}
      <div class="t-flex t-gap-2 t-justify-end">
        <li class="">
          <a class="t-text-white hover:t-text-gray-200 t-uppercase" href=" {% url 'show_user' %}">{{ user.username}}</a>
        </li>
        <li class="">
          <a class="t-text-white hover:t-text-gray-200" href="{% url 'logout' %}">Выйти</a>
        </li>
      </div>
      {% else %}
      <div class="t-flex t-gap-2 t-justify-end">
        <li class="">
          <a class="t-text-white hover:t-text-gray-200" href="{% url 'create' %}">Зарегистрироваться</a>
        </li>
        <li class="">
          <a class="t-text-white hover:t-text-gray-200" href="{% url 'login' %}">Войти</a>
        </li>
      </div>
      {% endif %}
    </ul>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mx-auto my-2">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container wrapper flex-grow-1">
    <h1 class="my-4">
      {% block title %}
      {% endblock %}
    </h1>
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>