{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="t-font-sans">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  {% tailwind_css %}
  <title>Title</title>
</head>
<body class="t-min-vh-100 t-m-0">
  <nav class=" t-bg-blue-600 mb-3 t-p-3">
    <ul class="t-flex t-list-none t-p-0 t-m-0 t-items-center t-justify-between t-w-full">
      <li class="">
        <a class="t-text-white t-no-underline hover:t-underline" href=" {% url 'main_page' %}">Web
          Anki</a>
      </li>
      {% if user.is_authenticated %}
      <div class="t-flex t-gap-2 t-justify-end">
        <li class="">
          <a class="t-text-white t-no-underline hover:t-underline" href=" {% url 'show_user' %}">
            {{user.username}}
          </a>
        </li>
        <li class="">
          <a class="t-text-white t-no-underline hover:t-underline" href="{% url 'logout' %}">Выйти</a>
        </li>
      </div>
      {% else %}
      <div class="t-flex t-gap-2 t-justify-end">
        <li class="">
          <a class="t-text-white t-no-underline hover:t-underline" href="{% url 'create' %}">Зарегистрироваться</a>
        </li>
        <li class="">
          <a class="t-text-white t-no-underline hover:t-underline" href="{% url 'login' %}">Войти</a>
        </li>
      </div>
      {% endif %}
    </ul>
  </nav>

  <div class="t-w-11/12 sm:t-w-8/12 lg:t-w-6/12 t-mx-auto">
    <div class="t-flex t-flex-col t-gap-4 t-mt-4">
      <div class="">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div id="flash" class="t-p-4 t-bg-red-300 t-rounded-md">
          {{ message }}
          <button id="close" onclick=" toggle();">
            <span>&times;</span>
          </button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div id="flash" class="t-p-4 t-bg-green-300 t-rounded-md">
          {{ message }}
          <button id="close" onclick="toggle();">
            <span>&times;</span>
          </button>
        </div>
        {% else %}
        <div id="flash" class="t-p-4 t-bg-yellow-300 t-rounded-md">
          {{ message }}
          <button id="close" onclick="toggle();">
            <span>&times;</span>
          </button>
        </div>
        {% endif %}
        </li>
        {% endfor %}
        </ul>
        {% endif %}
      </div>
      <h2 class="t-mb-5 t-text-4xl">
        {% block title %}
        {% endblock %}
      </h2>
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>

</html>