{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
  <form method="post">
    {% csrf_token %}
      {% if object.name %}
        <p>Вы действительно хотите удалить колоду «{{ object.name }}»?</p>
      {% elif object.question %}
        <p>Вы действительно хотите удалить «{{ object.question }}»?</p>
      {% else %}
        <p>Вы действительно хотите удалить все записи из колоды «{{ deck }}»?</p>
      {% endif %}
      {% bootstrap_button text_button button_type="submit" button_class="btn-danger" %}
  </form>
{% endblock %}