{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_javascript jquery='full' %}
{% block title %}
Карточки для изучения
{% endblock %}
{% block content %}
<!-- class="table table-striped t-shadow" -->
{% if request.user.is_authenticated %}
<table class="t-w-full t-border-collapse">
    <thead>
        <tr class="">
            <th class="t-text-left t-pl-5 t-pb-3">Колода</th>
            <th class="t-text-right t-pb-3">Новые</th>
            <th class="t-text-right t-pr-5 t-pb-3">К повторению</th>
        </tr>
    </thead>
    <tbody>
        {% for deck in decks %}
        <tr class=" odd:t-bg-gray-100">
            <td class="t-py-5 t-pl-5">
                <a class="t-text-blue-600" href="{% url 'decks:learn' pk=deck.id %}">{{ deck.name }}</a>
            </td>
            {% if deck.new_cards == 0 %}
            <td class="t-text-gray-300 t-text-right">
                {{ deck.new_cards }}
            </td>
            {% else %}
            <td class="t-text-green-600 t-text-right">
                {{ deck.new_cards}}
            </td>
            {% endif %}
            {% if deck.old_cards == 0 %}
            <td class="t-text-gray-300 t-text-right t-pr-5">
                {{ deck.old_cards}}
            </td>
            {% else %}
            <td class="t-text-blue-600 t-text-right t-pr-5">
                {{ deck.old_cards }}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <p>Чтобы пользовать приложение <a class="t-text-blue-600 t-no-underline hover:t-underline"
                href="{% url 'create' %}">зарегистрируйтесь</a> или <a
                class="t-text-blue-600 t-no-underline hover:t-underline" href="{% url 'login' %}">авторизируйтесь</a>
        </p>
        {% endif %}
    </tbody>
</table>
{% endblock%}