{% extends 'base.html' %}
{% load card_extras %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% block content %}
    {% if not card %}
        <h4 class="text-center">На сегодня все!</h4>
    {% else %}
        <div class="row row-col-3">
        <div class="col">
            <p class="display-6 text-primary text-left">Осталось {{ count.count }} карточек</p>
        </div>
        <div class="col"></div>
        <div class="col">
            <a href="{% url 'cards:update' pk=card.id %}"><p class="text-right">Редактировать</p></a>
        </div>
        </div>
            <div class="card">
                <div class="card-header bg-white">
                    <h4 class="text-muted text-center">Вопрос:</h4>
                    {% if card.question_type == 'md' %}
                        <p class="text-center">{{ card.question | convert_markdown | safe }}</p>
                    {% elif card.question_type == 'html' %}
                            <p class="text-center">
                                {% autoescape off %}
                                    {{ card.question }}
                                {% endautoescape %}
                            </p>
                    {% elif card.question_type == 'text' %}
                            <p class="text-center">
                                {% autoescape on %}
                                    {{ card.question }}
                                {% endautoescape %}
                            </p>
                    {% endif %}
                    {% if card.style == 2 %}
                    <div class="form-group text-center">
                        <form action="{% url 'decks:answer' card_id=card.id %}" method="post">
                            {% csrf_token %}
                            <textarea class="form-control" name="answer"></textarea>
                            <input class="btn btn-primary w-25 mt-2" type="submit" value="Ввести">
                        </form>
                    </div>
                    {% else %}
                        <a class="btn btn-primary d-block mx-auto w-25" href="{% url 'decks:answer' card_id=card.id %}">Ответ</a>
                    {% endif %}
                </div>
            </div>
    {% endif %}
{% endblock %}