{% extends 'base.html' %}
{% load card_extras %}
{% block content %}
<div class="t-flex t-flex-col t-gap-5 t-border t-rounded-xl t-text-center t-py-5">
    <h4 class="">Вопрос:</h4>
    {% if card.question_type == 'md' %}
    <p class="">{{ card.question | convert_markdown | safe }}</p>
    {% elif card.question_type == 'html' %}
    <p class="">
        {% autoescape off %}
        {{ card.question }}
        {% endautoescape %}
    </p>
    {% elif card.question_type == 'text' %}
    <p class="">
        {% autoescape on %}
        {{ card.question }}
        {% endautoescape %}
    </p>
    {% endif %}
    <hr>
    <h4 class="">Ответ:</h4>
    {% if answer %}
    <p class="">{{ answer }}</p>
    <p class="">
        {% for letter in equals_answers %}
        <span class="{{ letter.1 }}">{{ letter.0 }}</span>
        {% endfor %}
    </p>
    {% endif %}
    {% if card.answer_type == 'md' %}
    <p class="">{{ card.answer | convert_markdown | safe }}</p>
    {% elif card.answer_type == 'html' %}
    <p class="">
        {% autoescape off %}
        {{ card.answer }}
        {% endautoescape %}
    </p>
    {% elif card.answer_type == 'text' %}
    <p class="">
        {% autoescape on %}
        {{ card.answer }}
        {% endautoescape %}
    </p>
    {% endif %}
    <form class="t-pt-2 t-flex t-flex-row t-gap-4 t-justify-center t-px-2"
        action="{% url 'cards:answer' card_id=card.id%}" method="post">
        {% csrf_token %}
        <button
            class="t-border t-rounded-lg t-px-2 t-py-1.5 t-text-center t-text-xs t-text-red-600 t-border-red-600 hover:t-bg-red-600 hover:t-text-white"
            value="5" name="quality">Очень
            сложно</button>
        <button
            class="t-border t-rounded-lg t-px-2 t-py-1.5 t-text-center t-text-xs t-text-orange-400 t-border-orange-400 hover:t-bg-orange-400 hover:t-text-white"
            value="4" name="quality">Сложно</button>
        <button
            class="t-border t-rounded-lg t-px-2 t-py-1.5 t-text-center t-text-xs t-border-black hover:t-bg-black hover:t-text-white"
            value="3" name="quality">Норм</button>
        <button
            class="t-border t-rounded-lg t-px-2 t-py-1.5 t-text-center t-text-xs t-text-blue-600 t-border-blue-600 hover:t-bg-blue-600 hover:t-text-white"
            value="2" name="quality">Легко</button>
        <button
            class="t-border t-rounded-lg t-px-2 t-py-1.5 t-text-center t-text-xs  t-text-green-600 t-border-green-600 hover:t-bg-green-600 hover:t-text-white"
            value="1" name="quality">Очень
            легко</button>
    </form>
</div>
{% endblock %}