{% extends 'base.html' %}
{% load card_extras %}
{% load static %}
{% block content %}
<div class="t-flex t-flex-row t-mx-3 t-gap-2 t-justify-between">
    <a class="t-text-yellow-600 hover:t-underline t-text-sm"
        href="{% url 'cards:update' pk=card.id %}">Редактировать</a>
    <a class="t-text-red-600 hover:t-underline t-text-sm" href="{% url 'cards:delete' pk=card.id %}">Удалить</a>
</div>
<div class="t-flex t-flex-col t-gap-5 t-border t-rounded-xl t-py-5">

    <div class="t-flex t-flex-row t-gap-2 t-px-2 t-justify-center">
        <h4 class="t-text-gray-400">Вопрос:</h4>
        {% if card.question_type == 'md' %}
        <p>{{ card.question | convert_markdown | safe }}</p>
        {% elif card.question_type == 'html' %}
        <p>
            {% autoescape off %}
            {{ card.question }}
            {% endautoescape %}
        </p>
        {% elif card.question_type == 'text' %}
        <p>
            {% autoescape on %}
            {{ card.question }}
            {% endautoescape %}
        </p>
        {% endif %}
    </div>
    <hr>
    <div class="t-flex t-flex-row t-gap-2 t-px-2 t-justify-center">
        <h4 class="t-text-gray-400">Ответ:</h4>
        {% if card.answer_type == 'md' %}
        <p>{{ card.answer | convert_markdown | safe }}</p>
        {% elif card.answer_type == 'html' %}
        <p>
            {% autoescape off %}
            {{ card.answer }}
            {% endautoescape %}
        </p>
        {% elif card.answer_type == 'text' %}
        <p>
            {% autoescape on %}
            {{ card.answer }}
            {% endautoescape %}
        </p>
        {% endif %}
    </div>
    <div class="t-flex t-flex-row t-justify-between t-px-10">
        <div class="t-flex t-flex-row t-gap-2">
            <div class="t-text-gray-400">ID:</div>
            <div class="">{{ card.id }}</div>
        </div>
        <div class="t-flex t-flex-row t-gap-2">
            <div class="t-text-gray-400">Стиль карточки:</div>
            <div class="">{{ card.style }}</div>
        </div>
    </div>
    <div class="t-flex t-flex-row t-justify-between t-px-2 sm:t-px-10">
        <div class="t-flex t-flex-row t-gap-2">
            <div class="t-text-gray-400">Дата создания:</div>
            <div class="">{{ card.created_at | date:"Y-m-d" }}</div>
        </div>
        <div class="t-flex t-flex-row t-gap-2">
            <div class="t-text-gray-400">Дата повторения:</div>
            {% if card.review_date %}
            <div class="">{{ card.review_date | date:"Y-m-d"}}</div>
            {% else %}
            <div class="">нет даты</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}