{% extends 'base.html' %}
{% block title %}
{{ user }}
{% endblock %}
{% block content %}
<a href="{% url 'update' pk=user.id %}">Обновить</a>
<a href="{% url 'password' %}">Изменить пароль</a>

{% if user.email %}
{{ user.email }} {% if user.email_is_active %} (подтвержен) {% else %} (не подтвержен) {% endif %}
<a href="{% url 'add_email' pk=user.id %}">Изменить почту или подтвердить почту</a>
{% else %}
<a href="{% url 'add_email' pk=user.id %}">Добавить почту</a>
{% endif %}
<span class="t-text-xs">
    {{ date_joined | date:"d M Y" }}
</span>
<div class="t-d-flex t-flex-column t-min-vh-100 t-pt-5">
    <div class="t-flex t-list-none t-p-0 t-m-0 t-items-center t-gap-10">
        <div class="t-flex-col">
            <div class="">
                <h6 class="t-text-3xl">
                    <a class="t-text-blue-600 hover:t-text-blue-800" href="{% url 'cards:all_cards'%}">{{ cards }}</a>
                </h6>
                <p class="m-0px font-w-600">Карточек</p>
            </div>
        </div>
        <div class="t-flex-col">
            <div class="">
                <h6 class="t-text-3xl">
                    <a class="t-text-blue-600 hover:t-text-blue-800" href="{% url 'decks:decks'%}">{{ decks }}</a>
                </h6>
                <p class="m-0px font-w-600">Колод</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}