{% extends 'base.html' %}
{% block content %}
    <a class="nav-link" href="{% url 'decks:create' %}">Создать колоду</a>
    <table class="table table-striped">
      <thead>
        <tr>
            <th>Название</th>
            <th>Кол-во</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        {% for deck in decks %}
            <tr>
                <td>
                    <a href="{% url 'decks:cards' pk=deck.id %}">{{ deck.name }}</a>
                </td>
                <td>
                    {{ deck.count }}
                </td>
                <td>
                    <a href="{% url 'decks:create_card' pk=deck.id %}">Добавить карточку</a>
                </td>
                <td>
                    <a href="{% url 'decks:upload' pk=deck.id %}">Загрузить карточки</a>
                </td>
                <td>
                    <a href="{% url 'decks:delete' pk=deck.id %}">Удалить колоду</a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}